body {
   background: url("../assets/images/pavement.png");
   background-repeat: repeat;
   background-size: 100%;
}

.jumbotron {
    background: url("../assets/images/supercarsJumbotron1.png");
    background-size: 34%;

    color:#fff;
    
    

}